@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  }

body a {
  text-decoration: none;
  color: #111747;

}

body a:hover {
  text-decoration: underline;
  color: #ff0000;
}

body a:visited {
  color: rgb(3, 38, 143);
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #46befb;
	
}

nav {
  background-color: #46befb;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 5px solid #007ab8;
	
}

/*********** Splash Page ************************/

header {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  color: #1b1922;
   
}

header img {
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px darkgrey;
}

.address {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  text-align: center;
}

.tagline {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
  font-size: 13px;
  text-align: center;
  
}

/************* Sections ********************/

section h3 {
  font-family: "Open Sans", sans-serif;
  color: #3b3849;
  
}

section {
  font-family: "Open Sans", sans-serif;
  color: #534f60;
}

.info {
  margin-left: 30px;
}

.info dl {
  margin-left: 20px;
}

section h2 {
  color: #18171d;
}

section dl {
  display: grid;
}

dd {
  color: #747781;
}

section ul {
  list-style-type: square;

}

section a {
  text-decoration: none;
  color: #007ab8;

}

section a:hover {
  text-decoration: underline;
  color: #5238ae;
}

#projects h2{
  margin-left: 30px;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  padding: 20px;
  background-color: lightgrey;
  justify-items: center;
  margin: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: inset 0 0 15px gray;

}

.card img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

.card {
  border: #46befb solid 1px;
  border-radius: 10px;
  padding: 7px;
  background-color: white;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px gray;
  
}

/**************   Responsiveness   *****************/
@media (max-width: 1100px) {
  .three-col {
      grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 680px) {
    nav { 
      flex-direction: column;
      align-items: center;
      padding: 0px;
      
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px

}

input {
  max-width: 600px;
  margin-bottom: 5px;
}

textarea {
  max-width: 600px;
  min-height: 200px;
   
}

button {
  max-width: 600px;
}

input, textarea, button {
  width: 80%;
  min-width: 300px;
}

#contact h1, p {
  text-align: center;
  
}


/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
